
#menu ul{
list-style: none;
}

#menu ul li{
display: inline;
text-align: center;
}

#menu ul li a{
padding: 10px 5px;
display: inline-block;
}

#caixa1{
position: relative;
background-color: orangered;
height: 200px;
width: 250px;
left: 290px;
margin-top: 100px;
}  

#caixa2{
position: absolute;
background-color: maroon;
height: 200px;
width: 250px;
left: 600px;
top: 25px;
margin-top: 215px;
}


#economia{
position: absolute;
background-color: rgb(240, 229, 229);
height: 200px;
width: 250px;
left: 340px;
top:455px;
}  

.foto div{
  position: absolute;
 background-color: darkcyan;
  height: 200px;
  width: 250px;
  left: 340px;
  top:668px;
  }  

  .famoso div{
    position: absolute;
   background-color: red;
    height: 200px;
    width: 250px;
    left: 340px;
    top:850px;
    }  

    .police div{
      position: absolute;
  background-color: yellow;
      height: 200px;
      width: 250px;
      left: 340px;
      top:1050px;
      }  

      .poli div{
        position: absolute;
background-color: palevioletred;
        height: 200px;
        width: 250px;
        left: 340px;
        top:1250px;
        }  

.financa p{
position: absolute;
width: 20%;
height:150px;
margin-left: 900px;
float: right;
margin-top: 20px;
background-color: thistle;
}

.tech p{
width: 20%;
height: 150px;
float: right;
background-color: maroon;
}

.lado span{
position: absolute;
width:15%;
height: 200px;
padding-left:900px;
margin-left: 10px;
float: right;
color: lime;
}

.sporte div{
background-color: midnightblue;
position: absolute;
float: left;
height: 150px;
margin-left: 900px;
width: 280px;
margin-top: 180px;
}


.micro div{
  background-color: red;
  position: absolute;
  float: left;
height: 80px;
margin-left: 900px;
width: 280px;
margin-top:340px;

}
.meio div{
  position: absolute;
background-color: springgreen;
  height: 200px;
  width: 250px;
  left: 600px;
  margin-top:225px;

}

.pessoa div{
  position: absolute;
background-color: burlywood;
  height: 200px;
  width: 250px;
  left: 600px;
  margin-top:440px;

}
 
.showbiz div{
  position: absolute;
background-color: grey;
  height: 200px;
  width: 250px;
  left: 600px;
  margin-top:625px;

}
 
.apel div{
  position: absolute;
background-color: seagreen;
  height: 200px;
  width: 250px;
  left: 600px;
  margin-top:820px;

}
 
.maca div{
  position: absolute;
background-color: lime;
  height: 200px;
  width: 250px;
  left: 600px;
  margin-top:1020px;

}



.aside.direita{
  background-color: darkred;
  float: left;
  padding-top:100px;
}

aside.direita1{
  float: left;
  padding-top:100px;
 
}
    .caixa3{
      position: relative;
      background-color: olivedrab;
      height: 200px;
      width: 250px;
      left: 330px;
      margin-top: 30px;
      }
      .vid div{
      background-color: white;
        position: absolute;
        float: left;
        height: 150px;
        margin-left: 900px;
        width: 280px;
        margin-top:300px;
        font-size: 25px;
        }
        .video1 picture{
          position: absolute;
          width: 20%;
          height:150px;
          margin-left:900px;
          float: right;
          margin-top: 360px;
          }
          
          .video2 picture{
            position: absolute;
            width: 20%;
            height:150px;
            margin-left:900px;
            float: right;
            margin-top: 420px;
            }

            .video3 picture{
              position: absolute;
              width: 20%;
              height:150px;
              margin-left:900px;
              float: right;
              margin-top: 480px;
              }
  
              .video4 picture{
                position: absolute;
                width: 20%;
                height:150px;
                margin-left:900px;
                float: right;
                margin-top: 600px;
                }
              
                .video5 picture{
                  position: absolute;
                  width: 20%;
                  height:150px;
                  margin-left:900px;
                  float: right;
                  margin-top: 800px;
                  }
                
  
            
  





    footer{
    
    padding-top:1000px;

    }